.logo-white, .logo-black {
    width: 150px;
    height: 100px;
}

.logo-black {
    display: none;
}

@media (max-width: 991.98px){
    .logo-white {
        display: none;
    }
    .logo-black {
        display: unset;
    }
}

nav.scrolled img.logo-black {
    display: none;
}

nav.scrolled img.logo-white {
    display: unset;
}

.logo-map {
    width: 120px;
    height: 70px;
}

.copyright {

}
